$sonic-silver: #757575;
$dark-grey: #363636;
$shisha-coal: #3c3c3c;
$marine-blue: #002269;
$mango: #ff9b21;
$nero: #242424;

$mobile: "1025px";
$desktop: "1026px";

$mediadesktop : "(min-width:"+$desktop+")";
$mediamobile : "(max-width:"+$mobile+")";

body.path-rastreamento {
  overflow-x: hidden;
}

.tracking {
  @media #{$mediamobile} {
    padding-bottom: 80px;
  }

  .tracking-loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__logo {
      background-image: url(../images/tracking/tracking-loading.jpg);
      height: 120px;
      margin-bottom: 32px;
      position: relative;
      width: 352px;
      &::after {
        content: "";
        background-image: url(../images/tracking/gif-waves.gif);
        background-size: contain;
        background-repeat: no-repeat;
        height: 108px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 55px;

      }

    }
    &__text {
      font-family: "Quicksand", sans-serif;
      font-size: 38px;
      color: $marine-blue;

    }
  }

  label.error {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(60%);
    white-space: nowrap;
  }

  .tracking-loading {
    display: none;
  }

  &__container {
    display: flex;
    width: 100%;
    margin: 0 0 0 auto;
    @media #{$mediadesktop} {
      padding-left: 19vw;
    }

    @media #{$mediamobile} {
      background-image: url(../images/tracking/bg-tracking-info-mobile.jpg);
      background-size: 100%;
      background-position: center top;
      background-repeat: no-repeat;
      flex-wrap: wrap;
    }
  }

  &-price {
    width: 640px;

    @media #{$mediamobile} {
      width: 100%;
    }
  }

  .front {
    display: flex;
    flex-direction: column;

    @media #{$mediamobile} {
      height: 106.5vw;
      width: 100%;
    }

    &__container-info {
      width: 470px;
      margin: 0 auto;
      margin-top: 124px;
      text-align: center;

      @media #{$mediamobile} {
        margin-top: 96px;
        width: 100%;
      }
    }

    &__title {
      color: $marine-blue;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 48px;
      font-weight: 600;
      letter-spacing: -1px;
      margin: 0 0 4px;

      @media #{$mediamobile} {
        color: #fff;
        font-size: 24px;
        margin: 0 auto;
        width: 200px;
        line-height: 140%;
      }
    }

    &__subtitle {
      font-size: 24px;
      letter-spacing: -0.5px;
      color: $dark-grey;
      display: block;

      @media #{$mediamobile} {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
      }

    }

    &__price-container {
      transform: translateY(-10px);
    }

    &__price {
      margin-bottom: 18px;
      position: relative;
      display: inline-block;
      transform: translateX(-27px);

    }

    &__cifra {
      font-size: 110px;
      color: $marine-blue;
      letter-spacing: -2.32px;
      margin: 0;

      @media #{$mediamobile} {
        color: #fff;
        font-size: 72px;
        letter-spacing: -1.52px;
      }
    }

    &__valor-inteiro {
      font-size: 110px;
      font-weight: 700;
      color: $marine-blue;
      letter-spacing: -2.32px;
      margin: 0;
      position: relative;

      @media #{$mediamobile} {
        color: #fff;
        font-size: 72px;
        letter-spacing: -1.52px;
      }
    }

    &__valor-decimal {
      color: $marine-blue;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: -0.76px;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(100%, 50%);

      @media #{$mediamobile} {
        color: #fff;
        font-size: 21px;
      }
    }

    &__periodo-price {
      color: $shisha-coal;
      font-size: 24px;
      letter-spacing: -0.51px;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(100%, -80%);

      @media #{$mediamobile} {
        color: #fff;
        font-size: 21px;
      }
    }

    &__info-price {
      color: $shisha-coal;
      font-size: 20px;
      letter-spacing: -0.44px;
      font-weight: 300;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(35%, 0%);

      @media #{$mediamobile} {
        color: #fff;
        right: 50%;
        transform: translate(71%, 35%);
        white-space: nowrap;
      }
    }

    &__button {
      align-self: center;
      background-image: url('../images/tracking/button-simule.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 70px;
      width: 368px;
      font-size: 0;
      background-color: transparent;
      border: none;
      -webkit-font-smoothing: subpixel-antialiased;
      backface-visibility: hidden;

      @media #{$mediamobile} {
        height: 54px;
        width: 284px;
      }


      @media #{$mediadesktop} {
        &:hover {
          transition: all 450ms ease-out;
          transform: perspective(1px) scale(1.03);
        }
      }
    }
  }

  &-info {
    background-position: left top;
    background-color: #011e6e;
    background-repeat: no-repeat;
    padding: 0 0 30px 48px;
    display: flex;
    align-items: center;
    height: 100vh;
    width: calc(100% - 640px);
    position: sticky;
    top: 0;
    z-index: 1;

    @media #{$mediamobile} {
      background: transparent !important;
      padding: 80px 28px;
      width: 100%;
      min-height: 0;
    }

    &__content {
      color: #fff;
      display: flex;
      flex-direction: column;
      width: 430px;
      text-align: left;
      margin: 0;

      @media #{$mediamobile} {
        color: $shisha-coal;
        text-align: center;
        width: 100%;
      }
    }

    &__title {
      color: #fff;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 32px;
      letter-spacing: 0;
      margin: 0 0 16px;
      @media (max-width: 1366px) {
        font-size: 24px;
      }

      @media #{$mediamobile} {
        color: $marine-blue;
      }

    }

    &__txt {
      font-size: 20px;
      letter-spacing: 0;
      line-height: 28px;

      @media (max-width: 1366px) {
        font-size: 16px;
        line-height: 22px;
      }

      strong {
        font-weight: 600;
      }
    }

    &__more {
      background-color: $mango;
      border: none;
      border-radius: 4px;
      color: #fff;
      display: block;
      font-size: 18px;
      height: 56px;
      margin: 0 auto;
      width: 133px;
      transition: all 300ms;
      display: none;

      @media #{$mediadesktop} {
        &:hover {
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .24);
        }
      }

    }
  }

  .tracking-features {
    @media #{$mediadesktop} {
      background-color: #f7f7f8;
    }

    @media #{$mediamobile} {
      margin: 0;
      padding: 0 28px;
    }

    &__title {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 38px;
      color: $marine-blue;
      margin: 0 auto 48px;
      width: 870px;
      position: relative;
      text-transform: none;

      @media #{$mediadesktop} {
        top: -135px;
      }

      strong {
        font-weight: 600;
      }

      @media #{$mediamobile} {
        text-align: center;
        font-size: 24px;
        width: 100%;
      }
    }

    .views-element-container {
      width: 870px;
      margin: 0 auto;
      position: relative;
      z-index: 1;

      @media #{$mediadesktop} {
        top: -140px;

      }

      @media #{$mediamobile} {
        width: 100%;
      }
    }

    .view-tracking-feature {
      padding: 0;
      width: 100%;

      .view-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        width: 100%;

        &::before,
        &::after {
          display: none;
        }

        @media #{$mediamobile} {
          .slick-list {
            padding: 0 0 30px 0;
          }

          .slick-dots {
            bottom: 0;

            li {
              width: 15px;
              height: 15px;
              margin: 0 4px;

              button {
                border: solid 1px $marine-blue;
                border-radius: 50%;
                height: 15px;
                width: 15px;

                &::before {
                  display: none;
                }
              }

              &.slick-active button {
                background-color: $marine-blue;
              }
            }
          }

          .slick-arrow {
            background-size: contain;
            background-repeat: no-repeat;
            height: 18px;
            top: 45%;
            width: 12px;

            &.slick-prev {
              background-image: url(/modules/custom/pst_rastreamento/images/arrow-prev-carousel.svg);
              left: 24px;
            }

            &.slick-next {
              background-image: url(/modules/custom/pst_rastreamento/images/arrow-next-carousel.svg);
              right: 24px;
            }

          }
        }
      }
    }

    .tracking-item {
      border-radius: 20px;
      box-shadow: 0 16px 16px 0 rgba(208, 208, 208, 0.4);
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      height: 295px;
      margin: 0 0 56px;
      padding: 0 32px;
      position: relative;
      text-align: center;
      width: 270px;
      -webkit-font-smoothing: subpixel-antialiased;
      backface-visibility: hidden;


      @media #{$mediadesktop} {
        &:hover {
          transition: all 450ms ease-out;
          transform: perspective(1px) scale(1.03);
        }
      }

      @media #{$mediamobile} {
        margin: 0 10px;

      }

      &__icone {
        align-items: center;
        display: flex;
        padding: 32px 56px;
        height: 184px;
        margin: 0;
      }

      &__feature-title {
        color: $nero;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.4px;

        strong {
          color: $marine-blue;
          font-weight: 700;
        }
      }

      &__feature-info {
        color: $sonic-silver;
        font-size: 12px;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }
    }
  }

  .step {
    @media #{$mediadesktop} {
      padding-right: 54px;
    }
    @media #{$mediamobile} {
      padding: 0 28px;
    }
  }

  .step1 {
    @media #{$mediadesktop} {
      padding: 106px 54px 156px 0;
    }

    @media (min-width: 1026px) and (max-width: 1800px) {
      padding: 106px 56px 156px;
    }

    &__title {
      font-weight: 600;
      font-size: 36px;
      line-height: 38px;
      letter-spacing: -1.8px;
      text-transform: none;
      margin-bottom: 32px;
      color: $marine-blue;
      @media #{$mediamobile} {
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: -1.2px;
        margin-bottom: 24px;
        text-align: center;
      }
    }
    &-header-info {
      height: 106.4vw;
      display: flex;
      color: #fff;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      padding: 0 12px;
      margin-bottom: 64px;
      @media #{$mediadesktop} {
        display: none;
      }
      &__title {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin-bottom: 16px;
      }
      &__txt {
        font-size: 16px;
        line-height: 1.25;
      }
    }

  }

  .grupo__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -1.8px;
    margin-bottom: 32px;
    color: $marine-blue;
    display: block;
    width: 100%;
  }

  .form-group {
    display: flex;
    margin-bottom: 32px;
    position: relative;
    width: 100%;

    &--wrapper {
      flex-wrap: wrap;
    }
    .input-container {
      position: relative;
      margin: 0 auto;
      width: 100%;
      &--cpf {
        @media #{$mediadesktop} {
          margin-right: 32px;
          width: 277px;
        }

        @media (min-width: 1026px) and (max-width: 1800px) {
          width: 248px;
        }
      }

      &--email {
        @media #{$mediadesktop} {
          width: 140%;
        }
      }
      &:nth-child(n+2) {
        @media #{$mediadesktop} {
          margin-left: 32px;
        }

        @media #{$mediamobile} {
          margin-top: 24px;
        }
      }
    }
    &--plate {
      justify-content: space-between;

      .input-container {
        margin: 0;
        width: 277px;
      }
    }
    @media #{$mediamobile} {
      margin-bottom: 24px;
      flex-wrap: wrap;
    }

    &.grupo2 {
      flex-wrap: wrap;
    }

  }

  .radio-group {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    &--half {
      @media #{$mediadesktop} {
        width: calc(100% - 277px - 32px);
      }

      @media (min-width: 1026px) and (max-width: 1800px) {
        width: calc(100% - 248px - 32px);
      }
      @media #{$mediamobile} {
        &:nth-child(n+2) {
          margin-top: 24px;
        }
      }
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 4px;
    }

    &__label {
      color: $marine-blue;
      display: block;
      font-size: 16px;
      width: 100%;
    }

    .radio-button {
      font-weight: normal;
      margin: 0 32px 0 0px;
    }

  }

  .step-input {
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(208, 208, 208, 0.4);
    border: solid 1px #f4f4f4;
    background-color: #ffffff;
    font-size: 16px;
    height: 56px;
    padding: 0 24px;
    width: 100%;

    &::placeholder {
      color: $shisha-coal !important;
    }
  }

  .container-buttons {
    .tracking-button:nth-child(n+2) {
      margin-left: 16px;
    }
  }

  .tracking-button {
    background: none;
    border: none;

    &.button-voltar {
      color: $sonic-silver;
      font-size: 18px;
      text-decoration: underline;
    }

    &.button-cotar,
    &.button-continue {
      color: #fff;
      height: 56px;
      border-radius: 4px;
      background: none;
      background-color: $mango;
      border: none;
      padding: 0 24px;
    }
    &.button-continue {
      background-color: $marine-blue;
    }
  }

  .select2-container--default .select2-selection--single,
  .tracking-select {
    width: 100%;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(208, 208, 208, 0.4);
    border: solid 1px #f4f4f4;
    background-color: #ffffff;
    padding: 0 24px;
    font-size: 16px;
  }



  .select-container {
    position: relative;
    width: 277px;
    margin: 0;
    &.no-margin {
      margin: 0;
    }
    &:nth-child(n+2) {
      @media #{$mediadesktop} {
        margin-left: 32px;
      }

      @media #{$mediamobile} {
        margin-top: 24px;
      }
    }
    @media #{$mediamobile} {
      width: 100%;
    }

    &::after {
      content: "";
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      right: calc(100% - 277px + 24px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
    }
    @media #{$mediadesktop} {
      &--caracteristica {
        .tracking-select {
          width: 380px;
        }

        &::after {
          right: calc(100% - 380px + 24px);
        }
      }
    }

  }
  .plans {
    font-family: "Quicksand",
      sans-serif;

    &__title {
      color: $marine-blue;
      display: block;
      font-size: 36px;
      line-height: 38px;
      letter-spacing: -1.8px;
      width: 1100px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
  }

  .container-plans {
    display: flex;
    margin-bottom: 32px;
    width: 1100px;
  }

  .plans-item {
    color: $marine-blue;
    padding: 30px 24px;
    border-radius: 5px;
    box-shadow: 0 16px 16px 0 rgba(208, 208, 208, 0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 318px;

    &.selected {
      background-color: $marine-blue;
    }

    .titulo {
      line-height: 30px;
      font-size: 24px;
      letter-spacing: -1.2px;
      font-weight: 300;
      margin-bottom: 32px;

      strong {
        font-weight: 600;
      }
    }
    .price {
      font-size: 48px;
      font-weight: 600;
      line-height: 0.79;
      letter-spacing: -2.4px;
      height: 85px;
      margin-bottom: 16px;
      position: relative;
      width: 100%;
      .tempo {
        font-size: 12px;
        line-height: 24px;
        color: $sonic-silver;
        position: absolute;
        right: 0;
        top: 0;
        letter-spacing: normal;
        transform: translate(-80%, 140%);
      }
      .valor-decimar {
        margin-left: -10px;
      }
    }
    .budle {
      color: $sonic-silver;
      border-radius: 12px;
      background-color: #d8d8d8;
      display: inline-block;
      font-size: 12px;
      height: 24px;
      margin: 24px 90px 0;
      letter-spacing: normal;
      padding: 0 8px;
      line-height: 24px;
    }
    .descricao {
      color: $shisha-coal;
      font-size: 14px;
      margin-bottom: 16px;
      line-height: 1.14;
    }
    .logo {
      height: 56px;
      img {
        height: 100%;
      }
    }
    input[type=radio] {
      visibility: hidden;
    }
  }
  .container-plugins {
    width: 1100px;
    .plugins__title {
      color: $nero;
      display: block;
      font-size: 24px;
      line-height: 1.58;
      letter-spacing: -1.2px;
      width: 1100px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
    .plugins__list {
      display: none;
      flex-wrap: wrap;
      padding-left: 17px;
      &.selected {
        display: flex;
      }
    }
    .plugin-item {
      border-radius: 5px;
      box-shadow: 0 16px 16px 0 rgba(208, 208, 208, 0.4);
      background-color: #fff;
      display: flex;
      height: 88px;
      margin-bottom: 24px;
      width: 436px;
      &:nth-child(2n + 2) {
        margin-left: 56px;
      }
    }
  }

  select option:first-child {
    display: none;
  }

  // .select2-results__options .select2-results__option:first-child {
  //   display: none !important;
  // }

  // .select2-container--default .select2-selection--single .select2-selection__rendered {
  //   color: $shisha-coal;
  //   line-height: 56px;
  //   font-size: 16px !important;
  //   padding: 0;
  // }

  // .select2-container--default .select2-selection--single .select2-selection__arrow {
  //   height: 56px;
  //   width: 56px;
  // }

}

// .select2-container--open .select2-dropdown--above {
//   box-shadow: 0 0 8px 0 rgba(208, 208, 208, 0.4) !important;
//   border: solid 1px #f4f4f4 !important;
//   background-color: #ffffff !important;
//   font-size: 16px !important;

// }

// .select2-container--default .select2-search--dropdown .select2-search__field {
//   border: solid 1px #f4f4f4 !important;
//   background-color: #ffffff !important;
//   font-size: 16px !important;
//   padding: 0 24px !important;
// }
